@import '../../sass/utils/mixin';

.loadMoreButton {
  background-color: var(--eggShellWhite);
  border: 1px solid var(--copperYellow);
  border-radius: 4px;
  color: var(--richSoilBrown);
  display: block;
  font-family: Montserrat Bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  width: 91.5%;

  @include mq(desk) {
    display: none;
  }
}

.buttonPaginationLeft,
.buttonPaginationRight {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
}

.buttonPaginationLeft:disabled,
.buttonPaginationRight:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonPaginationLeft {
  @include mq(desk) {
    margin-right: 16px;
  }
}

.buttonPaginationRight {
  @include mq(desk) {
    margin-left: 16px;
  }
}

.numerPaginationBtn,
.numerPaginationBtnInactive {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--richSoilBrown);
}

.numerPaginationBtn {
  color: #ffffff;
  background-color: var(--richSoilBrown);

  @include mq(desk) {
    color: var(--copperYellow);
    font-family: 'Montserrat Bold';
    font-size: 16px;
    line-height: 1.5;
  }
}

.numerPaginationBtnInactive {
  color: #a7a7a7;
  background-color: transparent;

  @include mq(desk) {
    color: #574A36;
        font-family: 'Montserrat Bold';
        font-size: 16px;
        line-height: 1.5;
  }
}

.paginationButtons {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include mq(desk) {
    margin-left: auto;
    width: 330px;
  }
}

.ellipsis {
  background: transparent;
  border: none;
  color: #a7a7a7;
  font-family: Montserrat Bold;
  font-size: 16px;
  height: 40px;
  line-height: 1.5;
  text-align: center;
  width: 26px;

  @include mq(desk) {
    width: 34px;
    color: var(--grayColor);
  }
}
