@import '../../sass/utils/mixin';

.sectionAbout {
  position: static;
  padding-top: 32px;
  padding-bottom: 32px;

  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.sectionAboutContainer {
  background-color: var(--brownBG);
}

.sectionAboutTitle {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.34;
  text-align: center;
  color: var(--eggShellWhite);
  padding: 8px 16px;
  margin-bottom: 8px;

  @include mq(desk) {
    font-size: 48px;
    line-height: 1.17;
    padding: 8px;
    margin-bottom: 4px;
  }
}

.aboutTitleBorder {
  margin-left: -16px;
  border-top: 1px solid var(--copperYellow);
  margin-bottom: 16px;

  @include mq(desk) {
    width: 991px;
    border-top: 2px solid var(--copperYellow);
    margin-left: 0px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sectionAboutDescription {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: var(--eggShellWhite);
  padding: 8px 4px;
  margin-bottom: 16px;

  @include mq(desk) {
    font-family: 'Montserrat Medium';
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    padding: 16px 29px;
    margin-bottom: 24px;
  }
}

.aboutList {
  margin-bottom: 16px;
  @include mq(desk) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

.aboutList__item {
  margin-bottom: 4px;
  @include mq(desk) {
    width: 400px;
  }
}

.aboutList__item:last-child {
  margin-bottom: 0px;
}

.sectionAboutListTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--copperYellow);
  margin-bottom: 16px;

  @include mq(desk) {
    font-family: 'Montserrat Medium';
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
}

.sectionAboutListTitleBorder {
  border-bottom: 1px solid var(--grayColor);
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 16px;

  @include mq(desk) {
    width: 300px;
    border-bottom: 1px solid var(--grayColor);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
}

.sectionAboutListRightBG,
.sectionAboutListLeftBG {
  padding: 36px 8px;
  background-color: var(--eggShellWhite);
  background-image: url(../../images/about/BackgroundHorse.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 2px 2px 15px 4px rgba(107, 103, 102, 0.15);

  @include mq(desk) {
    width: 400px;
    height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.sectionAboutListLeftBG {
  @include mq(desk) {
    background-image: url(../../images/about/BackgroundHorseLeftDesktop.png);
    margin-bottom: 0px;
  }
}

.sectionAboutListRightBG {
  @include mq(desk) {
    background-image: url(../../images/about/BackgroundHorseRightDesktop.png);
    margin-bottom: 0px;
  }
}

.sectionAboutList {
  padding-left: 8px;
}

.sectionAboutListItem {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: var(--brownBG);
  list-style: inside;
  margin-bottom: 16px;
}

.sectionAboutListItem:last-child {
  margin-bottom: 0px;
}

.sectionAboutListImg {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
  box-shadow: 2px 2px 15px 4px rgba(240, 236, 229, 0.15);

  @include mq(desk) {
    width: 400px;
    height: 528px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 15px 4px rgba(240, 236, 229, 0.15);
  }
}

.sectionAboutBtn,
.aboutBlockWhyUsBtnClose {
  width: 91.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
}

.sectionAboutBtn {
  background-color: var(--copperYellow);
  color: var(--eggShellWhite);
}

.aboutBlockWhyUsBtnClose {
  color: var(--richSoilBrown);
  background-color: var(--eggShellWhite);
  border: 1px solid var(--copperYellow);
}

.sectionAboutBlockWhyUs {
  padding-top: 8px;

  @include mq(desk) {
    position: relative;
  }
}

.aboutBlockWhyUsTitle {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.34;
  padding: 8px;
  text-align: end;
  color: var(--eggShellWhite);
  opacity: 0.08;

  @include mq(desk) {
    position: absolute;
    top: 104px;
    font-size: 48px;
    line-height: 1.17;
    left: 50%;
    transform: translateX(-50%);
  }
}

.aboutBlockWhyUsListLeft {
  margin-bottom: 8px;

  @include mq(desk) {
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    }
}

.aboutBlockWhyUsList {
  margin-bottom: 24px;

  @include mq(desk) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
}

.aboutBlockWhyUsList__Item {
  padding: 8px;

  @include mq(desk) {
    width: 320px;
    margin-bottom: 0px;
    padding: 16px;
  }
}

.aboutBlockWhyUsList__Item:not(:last-child) {
  margin-bottom: 8px;

  @include mq(desk) {
    margin-bottom: 0px;
    margin-right: 80px;
  }
}

.aboutBlockWhyUsList__ItemTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 24px;
  color: var(--eggShellWhite);
  padding-bottom: 4px;
  border-bottom: 1px solid var(--copperYellow);

  @include mq(desk) {
    font-size: 24px;
    line-height: 1.34;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.aboutBlockWhyUsList__ItemDescription {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  padding-top: 4px;

  @include mq(desk) {
    padding-top: 0px;
    font-size: 14px;
    line-height: 1.43;
  }
}
