@import '../../sass/utils/mixin';

.sectionHero {
  position: relative;
  background-color: var(--eggShellWhite);
  padding-bottom: 100px;

  @include mq(tab) {
    background-color: var(--whiteBG);
  }

  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: var(--whiteBG);
  }
}

.sectionHero__container {
  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
  }
}

.heroPhotoContainer {
  background-color: #000000;

  @include mq(tab) {
    width: 100%;
      padding-left: 60px;
      padding-right: 60px;
      background-color: var(--whiteBG);
      position: relative;
      margin-bottom: 108px;
  }

  @include mq(desk) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.horseHeroImage {
  width: 360px;
  height: 490px;
  margin-left: auto;
  position: relative;
  z-index: 3;
  margin-bottom: 50px;

  @include mq(tab) {
    width: 648px;
    height: 490px;
  }

  @include mq(desk) {
    width: 1280px;
    height: 640px;
    border-radius: 4px;
    margin-bottom: 0px;
    background-color: #000000;
  }
}

.horseHeroImageContainer {
  @include mq(tab) {
    background-color: #000000;
  }

  @include mq(desk) {
    border-radius: 4px;
  }
}

.ankonaText {
  width: 328px;
  height: 72px;
  position: absolute;
  top: 452px;
  right: 16px;

  @include mq(tab) {
    width: 467px;
    height: 100px;
    top: 438px;
    right: 233px;
  }

  @include mq(desk) {
    width: 933px;
    height: 200px;
    right: 419px;
    top: 543px;
  }
}

.heroBorder {
  border-bottom: 1px solid var(--grayColor);
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 16px;
  position: relative;

  @include mq(tab) {
    display: none;
  }

  @include mq(desk) {
    display: none;
  }
}

.heroBorderDesk {
  display: none;

  @include mq(desk) {
    display: block;
    border-bottom: 2px solid var(--grayColor);
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    width: 400px;
    height: 2px;
  }
}

.heroBorderDot {
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--grayColor);

  @include mq(tab) {
    display: none;
  }
}

.heroBorderDotDesk {
  display: none;

  @include mq(tab) {
display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--grayColor);
  }

  @include mq(desk) {
    display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: var(--grayColor);
  }
}

.containerForTablet {
  @include mq(tab) {
    display: flex;
    align-items: center;
              justify-content: space-between;
              width: 100%;
  }
}

.heroDescription {
  font-family: 'Montserrat Medium';
  font-size: 20px;
  line-height: 1.6;
  color: var(--richSoilBrown);
  padding: 8px;
  margin-bottom: 16px;

  @include mq(desk) {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 0px;
    width: 780px;
  }
}
