@import '../../sass/utils/mixin';

.sectionGoods {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: var(--whiteBG);
}

.sectionGoodsTitle {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.4;
  text-align: start;
  color: var(--richSoilBrown);
  padding: 8px;
  margin-bottom: 8px;
}

.sectionGoodsBorder {
  border-bottom: 1px solid var(--copperYellow);
  margin-left: -16px;
  margin-bottom: 16px;
}

.sectionGoodsCategoryBtn {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  background-color: var(--richSoilBrown);
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 8px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
}

.toggleBtnImg {
  width: 40px;
  height: 40px;
}

.sectionGoodsCategoryList {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 16px;
}

.sectionGoodsCategoryList__item {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: var(--brownBG);
  box-shadow: 2px 2px 15px 4px rgba(107, 103, 102, 0.15);
  margin-bottom: 4px;
  min-height: 48px;
  width: 100%;
}

.sectionGoodsCategoryList__item:last-child {
  margin-bottom: 0px;
}

.sectionGoodsCategoryList__itemName {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  width: 100%;
}

.findCountContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.findTitle {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--grayColor);
  padding: 8px;
}

.borderforGoodsCategoryList {
  border-bottom: 1px solid var(--grayColor);
  margin-bottom: 16px;
}

.findNumerCount {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--copperYellow);
  padding: 8px;
}

.findNumerContainer {
  display: flex;
  align-items: center;
}

.productList {
  padding-top: 32px;
}

.productListItem {
  width: 100%;
  height: 136px;
}

.productListItemTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.productListItemCategory {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.productListItemManufacturer {
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 1.44;
  color: var(--richSoilBrown);
  margin-bottom: 4px;
}

.productListItemImg {
  display: none;
}

.findDescription {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  padding: 8px 8px 8px 0px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.cancelButton,
.saveButton {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid var(--copperYellow);
  width: 45.13%;
  height: 48px;
}

.productListItem {
  margin-bottom: 24px;
  border-radius: 4px;
  box-shadow: 2px 2px 15px 4px rgba(107, 103, 102, 0.15);
}

.loadMoreButton {
  width: 91.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  color: var(--richSoilBrown);
  background-color: var(--eggShellWhite);
  border: 1px solid var(--copperYellow);
  margin-bottom: 16px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPagination {
  width: 40px;
  height: 40px;
  border: none;
  background: var(----eggShellWhite);
}

.buttonPagination:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.numerPaginationBtn,
.numerPaginationBtnInactive {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--richSoilBrown);
}

.numerPaginationBtn {
  color: #ffffff;
  background-color: var(--richSoilBrown);
}

.numerPaginationBtnInactive {
  color: #a7a7a7;
  background-color: transparent;
}

.productListItem {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--eggShellWhite);
}

.productCard {
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 4px;
}

.selectedCategory,
.selectedCategoryText {
  color: var(--richSoilBrown) !important;
  background-color: var(--copperYellow);
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
}

.hiddenButtons {
  display: none;
}

.ellipsis {
  background: transparent;
  border: none;
  width: 26px;
  height: 40px;
  color: #a7a7a7;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.sectionGoodsCategoryList__itemImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 32px;
  margin-right: 4px;
}

.allCategoriesCentered {
  margin-left: 36px;
}

.categoryIcon {
  color: var(--brownBG);
}

.selectedIcon {
  filter: brightness(0) invert(0);
}

.noResults {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  text-align: center;
}

.customCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  .checkmark {
    width: 21px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid var(--eggShellWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    background-color: var(--grayColor);
  }

  .checkIcon {
    width: 12px;
    height: 9.4px;
  }

  input:checked + .checkmark {
    background-color: var(--richSoilBrown);
    border-color: var(--richSoilBrown);
    border: none;
  }
}

.selectedCategory {
  background-color: var(--copperYellow) !important;
}

.sectionGoodsCategoryList__itemNameSpan {
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 1.43;
}
