@import '../../sass/utils/mixin';

.sectionTeam {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: var(--brownBG);

  @include mq(desk) {
    padding-top: 40px;
    padding-bottom: 120px;
  }
}

.teamTitle {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.34;
  padding: 8px;
  color: var(--eggShellWhite);
  margin-bottom: 8px;

  @include mq(desk) {
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 4px;
  }
}

.teamBorder {
  border: 1px solid var(--copperYellow);
  margin-left: -16px;
  margin-bottom: 16px;

  @include mq(desk) {
    margin-left: -80px;
    width: 1040px;
    margin-bottom: 40px;
  }
}

.teamList__item {
  height: 104px;
  display: flex;
  align-items: center;
  background-color: var(--eggShellWhite);
  border-radius: 4px;
  margin-bottom: 7px;
  border: 2px solid var(--eggShellWhite);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include mq(desk) {
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
    flex-direction: column;
    border: none;
    margin-right: 40px;
    position: relative;
  }
}

.horse {
  display: none;
  @include mq(desk) {
    display: block;
    position: absolute;
    width: 44px;
    height: 68px;
    right: 24px;
    bottom: 16px;
  }
}

.teamList__item:last-child {
  margin-bottom: 0px;

  @include mq(desk) {
    margin-right: 0px;
  }
}

.teamList__item.active {
  height: 360px;
  flex-direction: column;

  @include mq(desk) {
    width: 400px;
    height: 400px;
  }
}

.teamNameContainer {
  padding-left: 8px;
  padding-right: 8px;

  @include mq(desk) {
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.teamNameContainer.activ {
  width: 100%;
  padding: 8px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.teamList__itemPhoto {
  width: 80px;
  height: 100px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.3s ease-in-out;

  @include mq(desk) {
    width: 400px;
    height: 308px;
  }
}

.teamList__itemPhoto.activ {
  width: 100%;
  min-height: 168px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  margin-bottom: 8px;

  @include mq(desk) {
    width: 400px;
    height: 224px;
    margin-bottom: 0px;
    object-fit: cover;
    object-position: top;
  }
}

.teamList__itemTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  margin-bottom: 4px;

  @include mq(desk) {
    margin-bottom: 8px;
  }
}

.teamList__itemTitle.active {
  margin-bottom: 16px;
}

.teamList__itemDescription {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  margin-bottom: 4px;

  @include mq(desk) {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 0px;
  }
}

.teamList__itemDescription.active {
  display: none;
}

.contactButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactButtons button {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  transition: background-color 0.3s ease;

  @include mq(desk) {
    padding: 12px 24px;
  }
}

.contactButtons a {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: var(--richSoilBrown);
  color: var(--copperYellow);

  @include mq(desk) {
    padding: 12px 24px;
    color: var(--eggShellWhite);
  }
}

.btnTeamPhoneNumber {
  color: var(--eggShellWhite);
  background-color: var(--copperYellow);
  border: none;
  margin-bottom: 16px;

  @include mq(desk) {
    margin-bottom: 8px;
  }
}

.btnTeamEmail {
  color: var(--richSoilBrown);
  background-color: var(--eggShellWhite);
  border: 1px solid var(--copperYellow);
}

.contactInfo {
  margin-top: 8px;
  font-size: 14px;
  color: var(--richSoilBrown);
}

.teamList {
  margin-bottom: 7px;
  @include mq(desk) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
  }
}

.teamListSecond {
  @include mq(desk) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
