@import '../../sass/utils/mixin';

.sectionPrivacy {
    padding-top: 94px;
    padding-bottom: 80px;
    background-color: var(--whiteBG);

    @include mq(tab) {
        padding-top: 110px;
    }

    @include mq(desk) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.privacyTitle,
.privacyListTitle {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    line-height: 1.5;
    color: var(--richSoilBrown);
    padding: 4px 8px;
}

.privacyTitle {
    @include mq(desk) {
        font-family: 'Montserrat Medium';
        font-size: 24px;
        line-height: 1.34;
        padding: 8px 8px 0px 8px;
        text-align: center;
    }
}

.privacyDescription,
.privacyListDescription {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 1.43;
    color: var(--richSoilBrown);
    padding: 4px 8px;
}

.privacyDescription {
    @include mq(desk) {
        font-size: 16px;
        line-height: 1.5;
        padding: 8px;
    }
}

.privacyLink {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    line-height: 1.5;
    color: var(--richSoilBrown);
}