@import '../../sass/utils/mixin';

.sectionBlogCard {
  padding-top: 94px;
  padding-bottom: 80px;
  background-color: var(--whiteBG);

  @include mq(desk) {
    padding-top: 124px;
    padding-bottom: 120px;
  }
}

.blogTitle {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.34;
  color: var(--richSoilBrown);
  padding: 8px;
  margin-bottom: 4px;

  @include mq(desk) {
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 4px;
  }
}

.blogBorder {
  border: 2px solid var(--copperYellow);
  margin-bottom: 16px;

  @include mq(desk) {
    width: 1040px;
    margin-left: -80px;
    margin-bottom: 32px;
  }
}

.blogSubTitle,
.blogAddInfoLink {
  font-family: 'Montserrat SemiBold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.blogSubTitle {
  @include mq(desk) {
    margin-bottom: 24px !important;
  }
}

.blogSubTitle {
  padding: 4px;
  margin-bottom: 16px;
}

.blogDescriptionMetodoligi {
  margin-bottom: 0px !important;
}

.blogDescription,
.blogDescriptionMetodoligi,
.blogTitleResult,
.blogResultList__item,
.blogDescriptionConclusions,
.additationInfo,
.afterResult {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.additationInfo {
  margin-top: 16px;
}

.blogDescription,
.blogDescriptionMetodoligi,
.blogTitleResult,
.blogDescriptionConclusions,
.afterResult {
  padding: 4px;
  margin-bottom: 16px;
}

.blogDescriptionSpan,
.blogTitleMetodoligi,
.blogTitleResultSpan,
.blogTitleConclusions {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.blogTitleMetodoligi,
.blogTitleConclusions {
  padding: 4px;
}

.blogTitleMetodoligi {
  @include mq(desk) {
    margin-bottom: 8px;
  }
}

.imageContainer {
  @include mq(desk) {
    display: flex;
  }
}

.blogImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;

  @include mq(desk) {
    width: 560px;
    height: 360px;
    margin-bottom: 0px;
  }
}

.imageContainer {
  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 375px;
    margin-bottom: 24px;
  }
}

.imageContainerDescription {
  @include mq(desk) {
    margin-right: 40px;
  }
}

.blogResultList {
  padding-left: 30px;
  margin-bottom: 16px;
}

.blogResultList__item {
  list-style: disc;
  padding: 4px;
}

.blogLinkTo {
  width: 91.46%;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  border-radius: 8px;
  color: var(--richSoilBrown);
  background-color: var(--eggShellWhite);
  border: 1px solid var(--copperYellow);
}
