@import '../../sass/utils/mixin';

.footer {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: var(--richSoilBrown);

  @include mq(desk) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.logoFooter {
  width: 160px;
  height: 68px;
}

.footerSocailMediaList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;

  @include mq(desk) {
    margin-bottom: 0px;
  }
}

.footerSocailMediaList__item:not(:last-child) {
  margin-right: 16px;
}

.footerSocailMediaList__itemLogo {
  width: 40px;
  height: 40px;
}

.footerBarList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  @include mq(desk) {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0px;
  }
}

.footerBarList__item:not(:last-child) {
  margin-bottom: 16px;
  @include mq(desk) {
    margin-bottom: 0px;
    margin-right: 32px;
  }
}

.footerBarList__itemDescription {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  padding: 8px 4px;
}

.footerCopyrightTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  padding: 8px;
  margin-bottom: 16px;

  @include mq(desk) {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 0px;
  }
}

.footerCopyrightDescription {
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 1.43;
  color: var(--eggShellWhite);
  padding: 8px;

  @include mq(desk) {
    width: 528px;
  }
}

.footerContainerDesktop {
  @include mq(desk) {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}

.footerNavContainerDesktop {
  @include mq(desk) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.linkLogo {
  width: 160px;
  height: 68px;
}

.footerNavBarList {
  @include mq(desk) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.privacyContainer {
  @include mq(desk) {
    display: flex;
    justify-content: space-between;
  }
}
