@import '../../sass/utils/mixin';

.sectionProductDetails {
  padding-top: 86px;
  padding-bottom: 120px;
  background-color: var(--eggShellWhite);
}

.buttonBackContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.buttonBack {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  padding: 8px;
  margin-right: 4px;
  border: none;
  background-color: transparent;
}

.decorationBorder {
  width: 24px;
  height: 1px;
  border: 1px solid var(--copperYellow);
  opacity: 24%;
  margin-right: 4px;
}

.sectionProductDetailsTitle {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--richSoilBrown);
  padding: 8px;
}

.imgProductDetails {
  width: 100%;
  min-height: 160px;
  box-shadow: 2px 2px 15px 4px rgba(107, 103, 102, 0.15);
  border-radius: 4px;
  margin-bottom: 4px;
}

.categoryGoods {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
  padding: 8px 6.5px;
  margin-bottom: 4px;
}

.iconManufacturerList {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.iconManufacturerList__item {
  border-right: 1px solid var(--richSoilBrown);
  margin-right: 4px;
  margin-bottom: 4px;
}

.iconManufacturer {
  filter: brightness(0) invert(0);
}

.categoryDescription {
  font-family: 'Montserrat Bold';
  font-size: 16px;
  line-height: 1.5;
  color: var(--eggShellWhite);
  background-color: var(--richSoilBrown);
  border-radius: 4px;
  padding: 8px 11.5px;
  height: 40px;
}

.categoryList__item {
  margin-bottom: 4px;
  margin-right: 4px;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 16px;
}

.productDetailsName {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 1.34;
  color: var(--richSoilBrown);
  padding: 4px;
}

.productDetailsManufacturer {
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 1.43;
  color: var(--grayColor);
  padding: 4px;
  margin-bottom: 12px;
}

.productDetailsDescription,
.categoryGoodsList__item {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.5;
  color: var(--richSoilBrown);
}

.productDetailsBorder {
  border-top: 1px solid var(--copperYellow);
  margin-bottom: 4px;
}

.categoryGoodsList {
  padding-left: 48px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.categoryGoodsList__item {
  list-style: disc;
  font-size: 10px;
}
